<h1 class="text-center margin-header">Gossip N°<%= params[:id] %></h1>
<blockquote class="container margin-header-bis text-center">
    <p><%= @gossips.find(params[:id]).content %></p>
</blockquote>
<cite><p class="text-center">– <%= @gossips.find(params[:id]).author %></p></cite>
<p class="text-center"><i>Created at:</i> <%= @gossips.find(params[:id]).created_at %></p>
